<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">
	
	
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/home**" access="hasRole('admin')" />
		<intercept-url pattern="/employee/**" access="hasRole('admin')"/>
		<intercept-url pattern="/prs/**" access="hasAnyRole('Role_Back_Office', 'Role_Administrator')"/>
		<form-login
			login-processing-url="/j_spring_security_check"
			login-page="/login"
			default-target-url="/welcome"
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password"
			authentication-success-handler-ref="myAuthenticationSuccessHandler"
			/>
		<access-denied-handler error-page="/login/access-denied" />
		<logout logout-success-url="/login?logout" logout-url="/j_spring_security_logout" />
		<csrf disabled="true" />
	</http>
	
	<beans:bean id="myAuthenticationSuccessHandler"
        class="com.xsis.mp1.controller.MySimpleUrlAuthenticationSuccessHandler" />
	<!-- comment -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query=
					"select username, password, active from POS_MST_USER where username=?"
				authorities-by-username-query=
					"select 
					  u.username, 
					  r.name FROM POS_MST_USER u
					inner join POS_MST_ROLE r
					on u.role_id = r.id where u.username=?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
